@tailwind base;
@tailwind components;
@tailwind utilities;
@import "material-icons/iconfont/material-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,300;1,400&display=swap");

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
}

.primary-bg {
  background-color: #01aef0;
}

.primary-text {
  color: #01aef0;
}

.dark-blue-bg {
  background-color: #0066b3;
}

.dark-blue-text {
  color: #0066b3;
}

.darker-blue-bg {
  background-color: #024f90;
}

.darker-blue-text {
  color: #024f90;
}

.darker-blue-border {
  border-color: #024f90;
}

/* menu hover styles */

.menu-item {
  position: relative;
  transition: 1s ease-in-out;
}

.menu-item::before {
  content: "";
  background: #01aef0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

.menu-item:hover::before {
  transform: scaleX(1);
}

/* slideshow animation */

.slideshow {
  position: relative;
  width: 100%;
  height: 400px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}
